---
import Container from "../../shared/Container.astro";
import GradiantText from "../../shared/GradiantText.astro";
import SubTitle2 from "../../shared/SubTitle2.astro";
import Title2 from "../../shared/Title2.astro";
import FeaturedProject from "../featured/components/FeaturedProject.astro";
import { servicesData, forestalesData, ambientalesData } from "./data";

export interface Props {
  className?: string;
}
---


<section >
  <article  id="paisaje">
    <Container
      className="mx-auto flex flex-col items-center justify-center text-center"
    >
      <Title2>Servicios de Paisajismo</Title2>
      <SubTitle2>
        {servicesData.subheading1_1}
        <GradiantText> {servicesData.subheading1_2}</GradiantText>
      </SubTitle2>
    </Container>
    <Container>
      <div class="mt-8 grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8">
        {
          servicesData.innovations.map((service) => {
            return (
              <FeaturedProject
                title={service.title}
                description={service.description}
                location=""
                visual={service.visual}
              />
            );
          })
        }
      </div>
    </Container>
  </article>

  <article id="forestal" class="mt-40">
    <Container
      className="mx-auto flex flex-col items-center justify-center text-center"
    >
      <Title2>Servicios Forestales</Title2>
      <SubTitle2>
        {forestalesData.subheading1_1}
        <GradiantText> {forestalesData.subheading1_2}</GradiantText>
      </SubTitle2>
    </Container>
    <Container>
      <div class="mt-8 grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8">
        {
          forestalesData.innovations.map((service) => {
            return (
              <FeaturedProject
                title={service.title}
                description={service.description}
                location=""
                visual={service.visual}
              />
            );
          })
        }
      </div>
    </Container>
  </article>

  <article id="ambiental" class="mt-40">
    <Container
      className="mx-auto flex flex-col items-center justify-center text-center"
    >
      <Title2>Servicios Ambientales</Title2>
      <SubTitle2>
        {ambientalesData.subheading1_1}
        <GradiantText> {ambientalesData.subheading1_2}</GradiantText>
      </SubTitle2>
    </Container>
    <Container>
      <div class="mt-8 grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8">
        {
          ambientalesData.innovations.map((service) => {
            return (
              <FeaturedProject
                title={service.title}
                description={service.description}
                location=""
                visual={service.visual}
              />
            );
          })
        }
      </div>
    </Container>
  </article>
</section>
